<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    
    <link href="/css/chat/chat.css" rel="stylesheet" type="text/css">
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>

    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>

    <article>
        <div class="article_wrap">
            <div class="title">
                <button onclick="goBack();" class="back-button">&larr;</button>&nbsp;&nbsp;
                <button onclick="deleteChat();" class="back-button">&times;</button>
            </div>
            <div class="content">
                <div class="chat-header">
                    <% if (otherthum !== '') { %>
                        <img src="/<%= otherId %>/<%= otherthum %>" class="profile-image">
                    <% } else { %>
                        <img src="/img/default_profile_thum.png" class="profile-image">
                    <% } %>
                    <div class="user-info">
                        <h3 class="username"><%= otherNick %></h3>
                    </div>
                </div>

                <div id="chatWindow" class="chat-window"></div>

                <div class="chat-input">
                    <input type="text" id="messageInput" placeholder="메시지를 입력하세요..." class="message-input">
                    <input type="file" id="imageInput" style="display: none;" accept="image/*">
                    <button onclick="document.getElementById('imageInput').click();" class="send-button">사진 업로드</button>
                    <button onclick="sendMessage()" class="send-button">전송</button>
                </div>
            </div>
        </div>
    </article>

    <!-- 모달 구조 -->
    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>

    <script>
        const roomId = '<%= roomId %>';
        const senderId = '<%= loginedUser.U_ID %>';
        const senderNick = '<%= loginedUser.U_NICK %>';
        const otherId = '<%= otherId %>';
        const otherNick = '<%= otherNick %>';
        const otherthum = '<%= otherthum %>';
        const lastExitTime = '<%= lastExitTime %>';
        const isAdminChat = '<%= isAdminChat %>';
    </script>

    <script src="/js/chat/chatClient.js"></script>
    <script src="/js/chat/chatFunctions.js"></script>

    <%- include('../include/footer.ejs') %>

</body>
</html>
