<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/user/mylist.css" rel="stylesheet" type="text/css">
    <script src="/js/user/wishlist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>
    
    <article>
        <div class="article_wrap">
            <div class="title">
                <h4>찜한 상품</h4>
            </div>
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>상품 이미지</th>
                            <th>상품 이름</th>
                            <th>가격</th>
                            <th>등록일</th>
                            <th>취소</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (products.length === 0) { %>
                            <tr>
                                <td colspan="4">찜한 상품이 없습니다.</td>
                            </tr>
                        <% } else { %>
                            <% products.forEach(product => { %>
                                <tr>
                                    <td>
                                        <a href="/product/detail_product_form?p_no=<%= product.P_NO %>">
                                            <img src="\<%= product.P_OWNER_ID %>\<%= product.P_IMAGE %>" alt="<%= product.P_NAME %>"/></td>
                                        </a>
                                    <td>
                                        <a href="/product/detail_product_form?p_no=<%= product.P_NO %>">
                                            <%= product.P_NAME %>
                                        </a>
                                    </td>
                                    <td><%= product.P_PRICE.toLocaleString() %> 원</td>
                                    <td><%= product.W_REG_DATE.toLocaleDateString() %></td>
                                    <td><a href="#none" class="cancel-btn" data-product-no="<%= product.P_NO %>">취소</a></td>
                                </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
                <%- include('../include/pagination.ejs', {
                    currentPage: pagination.currentPage,
                    totalPages: pagination.totalPages,
                    pageRange: pagination.pageRange,
                    baseUrl: pagination.baseUrl
                }) %>
            </div>

        </div>
    </article>

    <%- include('../include/footer.ejs') %>
</body>
</html>