<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/user/sign_in_form.css" rel="stylesheet" type="text/css">
    <script src="/js/user/sign_up_form.js"></script>
    <script src="/js/user/slide.js"></script>
    <script src="/js/user/find_functions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>
    
    <article>
        <div class="article_wrap">
            <div class="title">
                <h4>로그인</h4>
            </div>
            <div class="content">
                <form action="/user/sign_in_confirm" name="sign_in_form" method="post">
                    <input type="text" name="u_id" placeholder="ID"><br>
                    <input type="password" name="u_pw" placeholder="PW"><br>
                    <%
                        if (errMsg !== undefined) {
                    %>
                        <div class="error-message"><%= errMsg %></div><br>
                    <%
                        }
                    %>
                    <div class="button-group">
                        <input type="button" value="로그인" onclick="signinForm();">
                        <input type="reset" value="초기화">
                    </div>
                    <div class="link-group">
                        <a href="javascript:void(0)" onclick="findId()">아이디 찾기</a>
                        <a href="javascript:void(0)" onclick="findPw()">비밀번호 찾기</a>
                        <a href="/user/sign_up_form">회원가입</a>
                    </div>
                </form>
                <div class="social-login">
                    <hr>
                    <div class="social-buttons">
                        <a href="/auth/google"><img src="/img/google.png" alt="Google Login"></a>
                        <a href="/auth/naver"><img src="/img/naver.png" alt="Naver Login"></a>
                    </div>
                    <hr>
                </div>
                <div class="banner">
                    <div class="banner-slider">
                        <button class="prev"><</button>
                        <div class="banner-list">
                            <% events.forEach((event, index) => { %>
                                <div class="banner-item <%= index === 0 ? 'active' : '' %>">
                                    <a href="<%= event.E_URL.startsWith('http') ? event.E_URL : 'http://' + event.E_URL %>">
                                        <img src="/<%= event.E_NO %>/<%= event.E_IMAGE %>" alt="<%= event.E_TITLE %>" />
                                    </a>
                                </div>
                            <% }) %>
                        </div>
                        <button class="next">></button>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <%- include('../include/footer.ejs') %>
</body>
</html>