<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/product/list_rate_product_form.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const registeredPrices = JSON.parse('<%- JSON.stringify(registeredPrices) %>');
        const salePrices = JSON.parse('<%- JSON.stringify(salePrices) %>');
    </script>
    
    <script src="/js/product/list_rate_product.js" defer></script>
</head>
<body>

    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>
    
    <article>
        <div class="article_wrap">
            <div class="title">
                <h4>시세 조회</h4>
                <h5>원하시는 상품이 얼마에 거래되고 있는지 알아보세요</h5>
            </div>
            <div class="search">
                <form action="/product/list_rate_product_form" method="GET">
                    <input type="text" name="keyword" id="keyword" placeholder="상품명 입력" value="<%= keyword %>">
                    <button type="submit">검색</button>
                </form>
            </div>
            
            <div class="content">
                <% if (!keyword) { %>
                    <h5>시세 검색 방법</h5>
                    <p>상품명을 입력한 후 '검색' 버튼을 클릭하면 해당 상품의 시세를 확인할 수 있습니다.</p>
                    <p>예: '아이폰', '삼성 TV' 등과 같이 입력하세요.</p>
                <% } else { %>
                    <div class="chart-container">
                        <canvas id="priceChart"></canvas>
                    </div>
                    <% if (registeredPrices.length > 0) { %>
                        <h5>등록가 시세</h5>
                        <p><%= Math.floor(averageRegisteredPrice) %> 원</p>
                        <!-- <p>최고가: <%= registeredPrices[registeredPrices.length - 1].maxPrice %></p>
                        <p>최저가: <%= registeredPrices[registeredPrices.length - 1].minPrice %></p> -->
                    <% } else { %>
                        <p>최근 등록가 시세가 없습니다.</p>
                    <% } %>

                    <% if (salePrices.length > 0) { %>
                        <h5>판매가 시세</h5>
                        <p><%= Math.floor(averageSalePrice) %> 원</p>
                        <!-- <p>최고가: <%= salePrices[salePrices.length - 1].maxPrice %></p>
                        <p>최저가: <%= salePrices[salePrices.length - 1].minPrice %></p> -->
                    <% } else { %>
                        <p>최근 판매가 시세가 없습니다.</p>
                    <% } %>
                <% } %>
            </div>
        </div>
    </article>

    <%- include('../include/footer.ejs') %>
</body>
</html>
