<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/product/list_product_form.css" rel="stylesheet" type="text/css">
    <script src="/js/product/list_product_form.js"></script>
    
</head>
<body>

    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>
    
    <article>
        <div class="article_wrap">
            <div class="title">
                <h4>AUCTION PRODUCT LIST</h4>
            </div>
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>NAME</th>
                            <th>PRICE</th>
                            <th>THUM</th>
                            <th>CATEGORY</th>
                            <th>ADDRESS</th>
                            <th>OWNER</th>
                            <th>MOD_DATE</th>
                            <th></th>
                        </tr>
                    </thead>
                        <% for (let i = 0; i < products.length; i++) {%>
                            <tr>
                                <td><%= products[i].P_NO %></td>
                                <td><a href="/product/detail_product_form?p_no=<%= products[i].P_NO %>" class="product-link" data-product-id="<%= products[i].P_NO %>"><%= products[i].P_NAME %></a></td>
                                <td><%= products[i].P_PRICE.toLocaleString().concat('ì›') %></td>                             
                                <td><img src="\<%= products[i].P_OWNER_ID %>\<%= products[i].P_IMAGE %>"></td>
                                <td><%= category[parseInt(products[i].P_CATEGORY)].C_NAME %></td>
                                <td><%- products[i].P_ADDRESS.replace(/.*\(/,'').replace(')','') %></td>
                                <td><%= products[i].P_OWNER_NICK %></td>
                                <td><%= products[i].P_MOD_DATE.toLocaleDateString() %></td>
                            </tr>
                        <% }%>
                </table>

            </div>
        </div>
    </article>

    <%- include('../include/sidebar.ejs') %>

    <%- include('../include/footer.ejs') %>
</body>
</html>