<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/product/list_product_form.css" rel="stylesheet" type="text/css">
    <script src="/js/product/list_product_form.js"></script>
</head>
<body>

    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>
    
    <article>
        <div class="article_wrap">
            <div class="title">
                <h4>내 상품</h4>
            </div>
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>상품 이름</th>
                            <th>가격</th>
                            <th>상품 이미지</th>
                            <th>
                                <select name="category" onchange="filterByCategory(event);">
                                    <% category.forEach(cat => { %>
                                        <option value="<%= cat.C_NO %>" <%= cat.C_NO == currentCategory ? 'selected' : '' %>><%= cat.C_NAME %></option>
                                    <% }); %>
                                </select>
                            </th>
                            <th>
                                <select name="state" onchange="filterByState(event);">
                                    <option value="">전체</option>
                                    <% result.forEach(st => { %>
                                        <% if (st.ST_NO !== 0) { %> <!-- 삭제 상태 제외 -->
                                            <option value="<%= st.ST_NO %>" <%= st.ST_NO == currentState ? 'selected' : '' %>><%= st.ST_NAME %></option>
                                        <% } %>
                                    <% }); %>
                                </select>
                            </th>
                            <th>입찰가</th>
                            <th>경매 종료일</th>
                            <th>수정일</th>
                            <th></th>
                        </tr>
                    </thead>
                        <% for (let i = 0; i < products.length; i++) {%>
                            <tr>
                                <td><%= products[i].P_NO %></td>
                                <td><a href="/product/modify_product_form?p_no=<%= products[i].P_NO %>&u_no=<%= loginedUser.U_NO %>"><%= products[i].P_NAME %></a></td>
                                <td ><%= products[i].P_PRICE.toLocaleString() %>원</td>                             
                                <td><img src="\<%= products[i].P_OWNER_ID %>\<%= products[i].P_IMAGE %>"></td>
                                <td>
                                    <input type="hidden" name="category" value="<%= products[i].P_CATEGORY %>">
                                    <select name="p_category" onchange="changeCategory(event);" <% if (loginedUser.U_ACTIVE !== 1) { %> disabled <% } %>>
                                        <% for (let j = 1; j < category.length; j++) {%>
                                            <option value="<%= category[j].C_NO %>"
                                                <% if (category[j].C_NO === parseInt(products[i].P_CATEGORY) ) { %>
                                                    SELECTED
                                                <% } %>><%= category[j].C_NAME %></option>
                                        <% } %>
                                    </select>
                                </td>
                                <td>
                                    <input type="hidden" name="state" value="<%= products[i].P_STATE %>">
                                
                                    <% if (products[i].P_STATE === 5) { %> <!-- 위반 상태인 경우 -->
                                        <span style="color: red;">정책 위반</span> <!-- 위반 상태 표시 -->
                                    <% } else { %> <!-- 위반 상태가 아닐 경우 -->
                                        <select name="p_state" onchange="changeSate(event);" <% if (loginedUser.U_ACTIVE !== 1) { %> disabled <% } %>>
                                            <% for (let j = 1; j < result.length; j++) { %>
                                                <% if (result[j].ST_NO !== 0 && result[j].ST_NO !== 5) { %> <!-- 삭제 상태와 위반 상태 제외 -->
                                                    <option value="<%= result[j].ST_NO %>" 
                                                        <% if (result[j].ST_NO === parseInt(products[i].P_STATE)) { %> SELECTED <% } %> >
                                                        <%= result[j].ST_NAME %>
                                                    </option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                    <% } %>
                                </td>
                                <td>
                                    <%= products[i].P_STATE === 4  ? products[i].P_PRICE.toLocaleString().concat('원')  : "" %>
                                </td>
                                <td>
                                    <input class="end_date_input" type="datetime-local" name="end_date" onchange="changeAuction(event);">
                                    <p class="end_date_value"><%= products[i].P_STATE === 4  ? products[i].P_TRADE_DATE?.toLocaleDateString() + products[i].P_TRADE_DATE?.toLocaleTimeString() : "" %></p>
                                </td>
                                <td><%= products[i].P_MOD_DATE.toLocaleDateString() %></td>
                                <td>
                                    <% if (loginedUser.U_ACTIVE === 1) { %>
                                        <a href="#none" onclick="deleteProduct(event);">&#128465;</a>
                                    <% } else { %>
                                        <span style="color: gray; cursor: not-allowed;">&#128465;</span>
                                    <% } %>
                                </td>
                            </tr>
                        <% }%>
                </table>
                <br><br>
                <%- include('../include/pagination_my_product.ejs', {
                    currentPage: pagination.currentPage,
                    totalPages: pagination.totalPages,
                    pageRange: pagination.pageRange,
                    baseUrl: pagination.baseUrl
                }) %>
            </div>
        </div>
    </article>

    <%- include('../include/footer.ejs') %>
</body>
</html>