<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../include/title.ejs') %>
    <link href="/css/home/home.css" rel="stylesheet" type="text/css">
    <!-- <script src="/js/home/home.js"></script> -->
    <script src="/js/home/slide.js" defer></script>
</head>
<body>
    <%- include('../include/header.ejs') %>
    <%- include('../include/nav.ejs') %>
    
    <article>
        <div class="article_wrap">
            <div class="banner">
                <h3>이벤트 및 광고</h3>
                <div class="banner-slider">
                    <button class="prev"><</button>
                    <div class="banner-list">
                        <% events.forEach((event, index) => { %>
                            <div class="banner-item <%= index === 0 ? 'active' : '' %>">
                                <a href="<%= event.E_URL.startsWith('http') ? event.E_URL : 'http://' + event.E_URL %>">
                                    <img src="/<%= event.E_NO %>/<%= event.E_IMAGE %>" alt="<%= event.E_TITLE %>" />
                                </a>
                            </div>
                        <% }) %>
                    </div>
                    <button class="next">></button>
                </div>
            </div>

            <br>

            <div class="auction">
                <h3>HOT 경매</h3>
                <div class="auction-slider">
                    <button class="prev"><</button>
                    <div class="auction-list">
                        <% auctions.forEach((auction, index) => { %>
                            <div class="auction-item">
                                <a href="/product/detail_product_form?p_no=<%= auction.P_NO %>&u_no=<%= loginedUser?.U_NO %>" class="product-link" data-product-id="<%= auction.P_NO %>">
                                    <img src="/<%= auction.P_OWNER_ID %>/<%= auction.P_IMAGE %>" alt="<%= auction.P_NAME %>" />
                                </a>
                                <h5><%= auction.P_NAME %></h5>
                                <p>현재가: <%= auction.P_PRICE.toLocaleString().concat('원') %></p>
                            </div>
                        <% }) %>
                    </div>
                    <button class="next">></button>
                </div>
            </div>

            <br>

            <div class="product">
                <h3>최신 등록 상품</h3>
                <div class="product-slider">
                    <button class="prev"><</button>
                    <div class="product-list">
                        <% products.forEach((product, index) => { %>
                            <div class="product-item">
                                <a href="/product/detail_product_form?p_no=<%= product.P_NO %>&u_no=<%= loginedUser?.U_NO %>" class="product-link" data-product-id="<%= product.P_NO %>">
                                    <img src="/<%= product.P_OWNER_ID %>/<%= product.P_IMAGE %>" alt="<%= product.P_NAME %>" />
                                </a>
                                <h5><%= product.P_NAME %></h5>
                                <p>가격: <%= product.P_PRICE.toLocaleString().concat('원') %></p>
                            </div>
                        <% }) %>
                    </div>
                    <button class="next">></button>
                </div>
            </div>
            
        </div>
    </article>

    <%- include('../include/sidebar.ejs') %>
    
    <%- include('../include/footer.ejs') %>
</body>
</html>
